@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 350px;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
}

#sidebar .sidebar-header {
    padding: 30px;
    background: #6d7fcc;
    text-align: center;
}

#sidebar .sidebar-header h1 {
    font-size: 22pt;
    margin-top: 30px;
}

#sidebar .sidebar-header ul#title {
    list-style: none;
    padding-left: 0;
}

#sidebar .sidebar-header ul#contact {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
#sidebar .sidebar-header ul#contact li {
    display: inline;
    padding: 0 10px;
}
#sidebar .sidebar-header ul#contact li a {
    display: inline;
    font-size: 18pt;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul.components li a {
    padding: 10px 20px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul.components li a:hover {
    color: #7386D5;
    background: #fff;
}
#sidebar ul.components li div {
    padding: 10px 20px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul.components li div:hover {
    cursor: pointer;
    color: #7386D5;
    background: #fff;
}

#sidebar ul.components li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

#sidebar a, #sidebar a:hover, #sidebar a:focus {
    color: inherit;
    text-decoration: none;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}
div[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#content {
    width: calc(100% - 350px);
    padding: 40px;
    min-height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
}

#content .line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

#content ul li {
    margin-top: 15px;
}

.pub-author-me {
    text-decoration: underline;
    font-weight: bold;
}

.pub-reviewed {
    font-weight: bold;
}

@media (max-width: 768px) {
    #sidebar {
        position: static;
        width: 100%;
        height: auto;
    }

    #sidebar ul.components {
        display: none;
    }

    #content {
        width: 100%;
        margin-top: 450px; /* XXX WHY DO I NEED THIS??? why can't I do "position: static" ? */
    }
}
